.image-container {
    position: relative;
    left: 60%;
}

.image-text {
    position: absolute;
    top: 40%;
    left: -30%;
    transform: translate(-50%, -50%);
    color: whitesmoke;
}

  
.column {
    flex: 1;
}

.animated-image {
    animation-name: slide-down;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
 }
 
@keyframes slide-down {
    from {
       transform: translateY(-100%);
    }
    to {
       transform: translateY(0%);
    }
 }

h1 {
    font-family: Georgia;
 }

nav {
    background-color:#a9927d;
    /* background-image:url("images/coffeebean.jpg"); */
    opacity: 0.95;
    background-size:contain;
}

.jumbotron {
    background-color:#a9927d;
    opacity: 0.95;
}

.panel {
    background-color:#a9927d;
    opacity: 0.95;
}

.list-group-item {
    background-color:#a9927d;
    opacity: 0.95;
}

body {
    background-image:url("images/wallpaper-6.jpg");
}

.navbar {
    background-color:#362417;
    opacity: 0.90;
}