.image-container {
    position: relative;
    left: 60%;
}

.image-text {
    position: relative;
    transform: translate(-60%, -10%);
    z-index: 1;
    color: white;
    text-align: left;
}
.cafename {
    font-size:large
}
.column {
    flex: 1;
}
h6 {
    margin:0;
    background-color:white;
    background-image:url("images/coffeebean.jpg");
    background-size:contain;
    font-size:2em;
}
.animated-image {
    animation-name: slide-down;
    animation-duration: 3s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
 }
 
 @keyframes slide-down {
    from {
       transform: translateY(-100%);
    }
    to {
       transform: translateY(0%);
    }
 }

body {
    font-family: Georgia;
 }
.container {
    width:80%;
}
.image-container img {
    width: 40%;
    height: auto;
    float: inherit;
}
@media screen and (max-width: 500px) {
    .container {
      width: 90%;
    }

    .navbar {
        font-size: larger;
    }

    .panel-body {
        font-size: larger;
    }

    p {
      font-size: 0.3rem;
    }

    .container {
        width: 90%;
    }

    .image-container img {
        width: 40%;
        height: auto;
        float: inherit;
    }
  }