li.active {
    background-color:#a9927d;
    }
    
    header {
    background-color:white;
    background-image:url("images/coffeebean.jpg");
    background-size:contain;
    }
    
    #navbar {
        background-color: #F1DABF;
        padding: 2px;
        padding-bottom: 0;
    }
    
    #navi {
        padding-bottom: 0;
        margin-bottom: 0;
    }
    
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        font-family: Georgia, Cambria, "Times New Roman", serif;
        font-size: 16px;
    }
    
    li {
        float: left;
    }
    
    li a{
        display: block;
        text-align: center;
        padding: 12px 14px;
    }
    
    li a:hover {
        color: #F1DABF;
    }
    
    a:link {
        color: #362417;
        font-size: 16px;
    }
    
    a:visited {
        color: #362417;
    }
    h2 {
	    font-family: Georgia, Cambria, "Times New Roman", serif;
    }

    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
        font-size: 12pt;
        color: #362417;
      }
      
      td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
      }
      
      tr:nth-child(even) {
        background-color: #F1DABF;
      }
      
      tr:nth-child(odd) {
          background-color: #A9927D;
      }