header
{
	margin: 0;
	padding: 0;
	font-size: 100%;
	font-family: Georgia, Cambria, "Times New Roman", serif;
	vertical-align: baseline;
	border: 0;
	background-color: white;
	background-image: url("images/coffeebean.jpg");
	background-size: contain;
	color: white;
}

.image-container {
    position: relative;
    left: 60%;
    max-width: 100;
}

.image-text {
    position: absolute;
    top: 40%;
    left: -30%;
    transform: translate(-50%, -50%);
    color: whitesmoke;
}

  
.column {
    flex: 1;
}

.animated-image {
    animation-name: slide-down;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
 }
 
@keyframes slide-down {
    from {
       transform: translateY(-100%);
    }
    to {
       transform: translateY(0%);
    }
 }

h1 {
    font-family: Georgia;
 }

.navbar {
    background-color: #F1DABF;
	padding: 2px;
	padding-bottom: 0;
}

#navi {
	padding-bottom: 0;
	margin-bottom: 0;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	font-family: Georgia, Cambria, "Times New Roman", serif;
	font-size: 16px;
}

.jumbotron {
    background-color:#a9927d;
    opacity: 0.95;
    border: 4mm ridge rgba(54, 36, 23, 1);
}

.panel {
    background-color:#a9927d;
    opacity: 0.95;
}

.panel-body {
    border: 4mm ridge rgba(54, 36, 23, 1);
}

.list-group-item {
    background-color:#a9927d;
    opacity: 0.95;
}

ul {
    list-style: none; 
    margin: 0;
    padding: 0;
    color: #362417
  }
  
  li {
    float: left;
  }
  
  a {
    display: block; 
    padding: 10px; 
    text-decoration: none;
    font-size: 16px;
    color:#362417;
  }
  


/*
.image-container {
	float: center;
	position: relative;
} */


@media screen and (max-width: 500px) {
    .container {
      width: 90%;
    }

    .navbar {
        font-size: larger;
    }

    .panel-body {
        font-size: larger;
    }
  
    p {
      font-size: 0.3rem;
    }

    .container {
        width: 90%;
    }
  }